node_modules
/packages/*/dist
.vercel
.turbo
dist
bun-dist

# This is a hack to get around the fact that `pnpm install`
# does not run create the "bin" symlink if the file does not exist
!packages/cli/dist/index.js
.env*.local

# Single letter one-off scratch scripts
?.ts
?.mjs

# Rust

/target
^target/
target
# compiled wasm
*.wasm

# SWC plugin cache
.swc

.next
test/**/*/package-lock.json
test/**/*/pnpm-lock.yaml

packages/adapter/*.tgz
